/* *****************************************************************************
 * Project:		nwcui
 * Source:		custom.css
 * Author:		Philip Russo
 **************************************************************************** */

/* This css should be overwritten by the project using this template */

#main_page {
	
}

.nav_item {
	white-space:	nowrap;
}

.dashboard {
	padding-right:	15px;
}

.dashboard_div_slot {
	margin-left:	auto;
	margin-right:	auto;
		
	/* Padding:	Top/Right/Bottom/Left */
	padding:		15px 15px 0px 15px;
	text-align: 	center;
}

.dashboard div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

#dashboard_container {
	background:	#f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.dashboard_contents {
	
}

.col-lg-0 {
    	display:	none; 
}
